

body{
  background-color: black;
}

#myCarousel {
    background-color: grey;
}

.breh{
    height: 250px; width: 150px;
}
p1{
    text-align: center;
}
p2{
    text-align: center;
}
#mycarousel{
 text-align: center;
}
.card-right {
    float: right;
    margin-left: 300px;
    margin-top: -1500px;
  }
  .card{
    background-color: black;
  }
  .footerphoto{
    height: 50px; width: 50px;
    }
    .footer{
      text-align: center;
    }    
    .p1{
      color: green;
    }
    .p2{
      text-emphasis-color: lightblue;
    }
    .p3{
      text-decoration-color: blueviolet;
    }
    .top{
      background-color: black;
    }

  .index-navbar {
    background-color: lightblue; /* Set background color to blue */
}

.index-navbar .nav-link {
    color: white; /* Set text color to white for all navbar links */
}
