.card-right {
  float: right;
  margin-left: 300px;
  margin-top: -1500px;
}



.card-middle {
  float: right;
  margin-left: 300px;
  margin-top: -950px;
}

.card-bottem {
  float: right;
  margin-left: 300px;
  margin-top: -475px;
}

.blue {
  height: 250px;
  width: 300px;
}

.green {
  height: 250px;
  width: 300px;
}

.yellow {
  height: 300px;
  width: 290px;
}

.thank-you-box {
  width: 300px;
  padding: 20px;
  background-color: #f4f4f4;
  border: 1px solid #ccc;
  border-radius: 5px;
  text-align: center;
  margin: 50px auto;
  font-family: Arial, sans-serif;
}

.thank-you-text {
  font-size: 24px;
  color: #333;
}
.footer{
  text-align: center;
}
.footerphoto{
height: 50px; width: 50px;
}
#back-to-top {
  position: fixed;
  bottom: 20px;
  right: 20px;
  display: none;
  z-index: 9999;
}
.carousel-item img {
  width: 70px;
  height: 100px;
  align-items: center;
 
}
.carousel{
  align-items: center;
}
