.card-right{
  float: right;
  margin-left: 300px;
 margin-top: -1500px;
}

.footer{
  background-color: brown; 
  text-align: center;
}
.card-middle{
  float: right;
  margin-left: 300px;
  margin-top: -950px;
}
.card-bottem{
  float: right;
  margin-left: 300px;
  margin-top: -475px;
}
.blue{
  height: 250px; width: 300px;
}

.green{
  height: 250px; width: 300px;
}
.yellow{
  height: 300px; width: 290px;
}