body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    margin: 20px;
}
h1 {
    font-size: 24px;
    text-align: center;
}
h2 {
    font-size: 20px;
}
p {
    margin-bottom: 10px;
}
.footerphoto{
    height: 50px; width: 50px;
    }
    .footer{
      text-align: center;
    }    